In [2]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
df_f = pd.read_csv("../data/Customer Flight Activity.csv")

In [5]:
df_f.head()

,Loyalty Number,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed
0,100018,2017,1,3,0,3,1521,152.0,0,0
1,100102,2017,1,10,4,14,2030,203.0,0,0
2,100140,2017,1,6,0,6,1200,120.0,0,0
3,100214,2017,1,0,0,0,0,0.0,0,0
4,100272,2017,1,0,0,0,0,0.0,0,0

In [7]:
df_f.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 405624 entries, 0 to 405623
Data columns (total 10 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Loyalty Number               405624 non-null  int64
 1   Year                         405624 non-null  int64
 2   Month                        405624 non-null  int64
 3   Flights Booked               405624 non-null  int64
 4   Flights with Companions      405624 non-null  int64
 5   Total Flights                405624 non-null  int64
 6   Distance                     405624 non-null  int64
 7   Points Accumulated           405624 non-null  float64
 8   Points Redeemed              405624 non-null  int64
 9   Dollar Cost Points Redeemed  405624 non-null  int64
dtypes: float64(1), int64(9)
memory usage: 30.9 MB

En cuanto al tipo de dato que contiene las columnas, parecen correctas.

In [8]:
df_f.shape

(405624, 10)

In [11]:
df_f.describe().T

,count,mean,std,min,25%,50%,75%,max
Loyalty Number,405624.0,550037.873084,258935.286969,100018.0,326961.00,550834.0,772194.00,999986.0
Year,405624.0,2017.500000,0.500001,2017.0,2017.00,2017.5,2018.00,2018.0
Month,405624.0,6.500000,3.452057,1.0,3.75,6.5,9.25,12.0
Flights Booked,405624.0,4.115052,5.225518,0.0,0.00,1.0,8.00,21.0
Flights with Companions,405624.0,1.031805,2.076869,0.0,0.00,0.0,1.00,11.0
Total Flights,405624.0,5.146858,6.521227,0.0,0.00,1.0,10.00,32.0
Distance,405624.0,1208.880059,1433.155320,0.0,0.00,488.0,2336.00,6293.0
Points Accumulated,405624.0,123.692721,146.599831,0.0,0.00,50.0,239.00,676.5
Points Redeemed,405624.0,30.696872,125.486049,0.0,0.00,0.0,0.00,876.0
Dollar Cost Points Redeemed,405624.0,2.484503,10.150038,0.0,0.00,0.0,0.00,71.0

- **Flights booked:** Media y mediana, máximos y mínimos alejados. Algo normal, hay personas que pueden no reservar ningún vuelo anualmente y otras que reserven varios, además una misma persona puede encargarse de reservar los vuelos de varias personas a la vez, por lo que subiría esa media.
- **Flights with Companions:** Me llama la atención que el máximo de acompañantes sea tan alto y que la mayoría de personas viajen solas. Puede indicar que las personas que más viajan lo hacen por trabajo (suposición)
- **Total flights:** Media y mediana alejadas. Algo razonable, hay personas que pueden no coger ningún vuelo anualmente y otras que cojan varios. El mínimo, máximo, etc reflejan y confirman esto. 
- **Distance:** Alta. Normal en vuelos.

In [19]:
df_f.isna().sum()/df_f.shape[0]*100

Loyalty Number                 0.0
Year                           0.0
Month                          0.0
Flights Booked                 0.0
Flights with Companions        0.0
Total Flights                  0.0
Distance                       0.0
Points Accumulated             0.0
Points Redeemed                0.0
Dollar Cost Points Redeemed    0.0
dtype: float64

No hay nulos

In [24]:
df_f.duplicated().sum()

np.int64(1864)

Valores duplicados. Al ser todos valores numéricos, en principio, es normal.

In [31]:
df_f.duplicated(subset="Loyalty Number").sum()

np.int64(388887)

In [35]:
df_f[df_f.duplicated(subset="Loyalty Number", keep=False)].sort_values("Loyalty Number").head(10)

,Loyalty Number,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed
257159,100018,2018,3,7,0,7,1876,280.5,0,0
257382,100018,2018,2,6,0,6,1824,273.0,0,0
321119,100018,2018,8,0,0,0,0,0.0,0,0
185911,100018,2017,12,6,0,6,1908,190.0,0,0
270416,100018,2018,5,0,0,0,0,0.0,0,0
16901,100018,2017,2,2,2,4,1320,132.0,0,0
50703,100018,2017,4,4,0,4,924,92.0,0,0
142774,100018,2017,8,10,5,15,4200,420.0,690,56
388723,100018,2018,12,17,6,23,4945,494.0,0,0
267063,100018,2018,4,5,0,5,2590,388.5,0,0